* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #344a72;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
}

.btn {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
}


.increase-btn {
    background-color: #4CAF50;
    color: white;

    border: 2px solid #4CAF50;
}

.increase-btn:hover {
    background-color: white;
    color: black;
}

.decrease-btn {
    background-color: #FF4500;
    color: white;
    border: 2px solid #FF4500;
}

.decrease-btn:hover {
    background-color: white;
    color: black;
}

.reset-btn {
    background-color: #1E90FF;
    color: white;
    border: 2px solid #1E90FF;
}

.reset-btn:hover {
    background-color: white;
    color: black;
}

.sum {
    background-color: White;
    color: #333;
    font-weight: 700;
    font-size: 32px;
    width: 390px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}